<div class="container">
  <div class="container-close">&times;</div>

  <div class="container-text">
   <h3 class="input-text">Título</h3>
    <input type="text-area" placeholder="Evento"  />
    <h3 class="input-text">Fecha</h3>
    <input type="text-area" placeholder="fecha" />
    <h3 class="input-text">Imagen</h3>
    <input type="file" placeholder="título" />
    <h3 class="input-text">Descripción del evento</h3>
    <input type="text-area" placeholder="Descripción del evento" />

    <button class="myButton" type="submit"><a href="popup-created">CREAR EVENTO</a></button>

  </div>
</div>
