<div class="popup_card">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TITULO</mat-card-title>
      <mat-card-subtitle>02/03/11</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../assets/img/free.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <H3>HAS CREADO UN EVENTO CORRECTAMENTE</H3>
      <mat-card-actions>
        <button class="myButton"><a href="home">VOLVER</a></button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
