<div class="detail-container">
<mat-toolbar>
  <img class="logo" src="../assets/img/logo.png" alt=""><span>Me Apunto</span><a href="create" class="myButton">Añadir Evento</a>
</mat-toolbar>
<div class="card-detail-container">
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div class="container-close">&times;</div>
    <mat-card-title>Nombre del evento</mat-card-title>
    <mat-card-subtitle>02/03/11</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="../assets/img/free.jpg"
    class="imgCard"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="myButton">
      <a href="popup_view">Apuntarme</a>
    </button>

  </mat-card-actions>
</mat-card>
</div>
</div>
