.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 18vw;
  height: 48vh;
  max-width: 400px;
  min-width: 380px;
  margin: 3vw;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.846);
  color: antiquewhite;
  line-height: 2vh;
  letter-spacing: 2px;
  border-radius: 10px;
  -webkit-box-shadow: 20px 27px 21px -14px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 20px 27px 21px -14px rgba(0, 0, 0, 0.86);
  box-shadow: 20px 27px 21px -14px rgba(0, 0, 0, 0.86);
  border: 1px solid rgb(255, 255, 255) ;
  .mat-card-title {
    font-family: "Montserrat", sans-serif;
  }

  mat-card-header {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  mat-card-subtitle {
    color: antiquewhite;
  }

  p {
    font-weight: 300;
    font-size: small;
    font-family: "Montserrat", sans-serif;
  }
  .mat-button-wrapper {
    color: #ffab23;
  }
  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
    width: 5rem;
    height: 5rem;
    border: 3px solid rgb(64, 105, 161) ;
    position: absolute;
    top: -3%;
    left: -3%;
  }

  a:-webkit-any-link {
    color: rgb(222, 197, 38);
    text-decoration: none;
    font-size: small;
    font-family: "Montserrat", sans-serif;
  }

  .myButton {
    margin-top: 2vh;
    color: rgb(222, 197, 38);
    background-color: #1a225062;
    text-decoration: none;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
    border-radius: 15px;
    border: 1px solid rgb(64, 105, 161) ;
    display: inline-block;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
  }
  a:-webkit-any-link {
    color: rgb(244, 217, 41);
    text-decoration: none;
    font-size: small;
    font-family: "Montserrat", sans-serif;
    padding: 6px 8px;
  }
  .myButton:hover {
    background-color: #0c081bc7;
  }
  .myButton:active {
    position: relative;
    top: 1px;
  }
  .container-close {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgba(0, 0, 0, 0.789);
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
    color: rgb(77, 184, 255);
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
    border: 1px solid rgb(72, 166, 254);
  }

}

.card-detail-container{
  display:flex;
  justify-content: center;
}

mat-toolbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(29, 31, 54);
  height: 8vh;
  font-size: clamp(20px, 8vw, 33px);
  font-weight: 700;
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: 2px;
  color: rgb(238, 204, 31);
}
.logo {
  width: calc(2vw + 3vh);
  height: calc(2vw + 3vh);
  max-width: 150px;
  max-height: 150px;
  min-width: 60px;
  min-height: 60px;

  padding: calc(1vw + 1vh);
}

a:-webkit-any-link {
  color: rgb(244, 217, 41);
  text-decoration: none;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  padding: 4px 8px;
}

.myButton:active {
  position: relative;
  top: 1px;
}
.detail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(244, 234, 204, 0.229);
  height: 100%;
}
