body {
  display: flex;
 

  main {
    flex: 1;

    overflow-y: auto;
    background-image: url("../assets/img/fon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
